/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto", serif;

  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

body{
    --maincolor : #2b4c5f;
    --seconcolor : #52738f;
    --tercolor : #FEFAE0;

    background-color: #2b4c5f;
    
}

.roboto {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }



.bibliotheque{
    display: grid;
    grid-template-rows: 100px 1fr;
}


#boite{
    display:grid;
    grid-template-columns:  repeat(auto-fill, minmax(400px,1fr));
    gap: 20px;
    border-top: solid;
    padding-top: 20px;
    background-color: var(--maincolor);
    padding: 20px;
    -webkit-box-shadow: inset 0px 24px 12px -9px rgba(0,0,0,0.2); 
    box-shadow: inset 0px 24px 12px -9px rgba(0,0,0,0.2);
}

.card{
    display: grid;
    padding: 20px;
    border-radius: 20px;
    max-height: 175px;
    background-color: var(--tercolor);
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);


}

h1{
    text-align: center;
    text-decoration: underline black;
}

button{
    border: none;
    border-radius: 20px;
    color : white;
    background-color: var(--seconcolor);
}

#header{
    padding: 20px;
    background-color: var(--tercolor);

}
